@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Ramaraja&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');


html {
   margin: 0 0 0 0;
}

header {
    margin-left: 80px;
}

nav {
    display: flex;
    justify-content:space-around ;
}

li{
    margin-top: 48px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
 
span {
    color:  #A3DC00;
}

h1 {
    line-height: 76px;
    font-size: 72px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Ramaraja';
    color: #1B0A42;
    letter-spacing: 0.02em;
}

img {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: 700px;
}

.container {
    display: flex;
    list-style: none;
    justify-content:space-between;
}

.logo {
    display: block;
    margin-top: 35px;
    margin-right: 90px;
}

.logo-text {
    font-family: 'Coda Caption';
    font-size: 25px;
    line-height: 160%;
    line-height: -0.1px;
    letter-spacing: -1px;
    color: #0A1B32;
}

.link-header {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-left: 40px;
    color: #1B0A42;
}

.right-btm {
    display: block;
    margin-top: 30px;
    width: 120px;
    height: 59.9px;
    border: 0px;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto';
    color: #FFFFFF;
    background:  #A3DC00;
}

.right-btm2 {
    display: block;
    margin-right: 40px;
    margin-left: 950px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #1B0A42;
}

.main-content {
    display: block;
    margin-left: 235px;
    margin-top: 208.09px;
}

.main-text {
    margin-left: 5px;
    margin-top: -20px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #9A9A9A;
}

.additional-content {
    display: flex;
    margin-left: 160px;
    margin-top: -450px;
}

.down-btm {
    margin-left: 80px;
    margin-top: 470px;
    min-width: 152px;
    height: 63px;
    border: 0px;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #A3DC00;
}

@media (width: 320px) {

     nav {
        display: flex;
        flex-direction: column; 
    }

    img {
        margin-top: 570px;
        margin-left: -200px;
        width: 450%;
    }

    h1 {
        margin-top: -670px;
        margin-left: 90px;
    }


    .logo {
        margin-top: 15px;
        margin-left: 35px;
    }

    .link-header {
        font-size: 25px;
    }

    .right-btm2 {
        font-size: 25px;
        margin-left: 40px;
    }

    .right-btm {
        font-size: 25px;
        margin-left: 20px;
    }

    .down-btm {
        font-size: 25px;
        margin-top: 25px;
        margin-left: -60px;
    }

    .main-content {
        display: block; 
    }

    .main-text {
        display: flex;
        justify-content: space-around;
        text-align: left;
        height: 300px;
        width: 300px;
        margin-left: -15px;
        font-size: 35px;
        
    }

}
